<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title|e if title else "Bokeh Plot" }}</title>
        {{ bokeh_css }}
        {{ bokeh_js }}
        <style>
         .slick-header-column {
             background-color: lightgray !important;
             background-image: none !important;
             text-align: center;
             font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
             font-size: 16pt;
         }
         .slick-cell {
             font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
             font-size: 16pt;
             text-align: center;
         }
        </style>
    </head>
    <body>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
    </body>
</html>
